<app-loading *ngIf="load"></app-loading>
<div class="row" *ngIf="!load">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-circle">
    </div>
    <div class="col">
        <h1>{{artist.name}}</h1>
        <h3>Followers:
            <p> <small>{{artist.followers.total|number}}</small></p>
        </h3>
        <p>
            <a [href]="artist.external_urls.spotify" class="btn btn-outline-success" target="_blank">Ver en Spotify</a>
        </p>
    </div>
    <div class="col-4">
        <button class="btn btn-outline-success" [routerLink]="['/home']">Regresar</button>
    </div>
</div>
<div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>

                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks">
                    <td scope="row"><img [src]="track.album.images | noimage" class="img-thumb"></td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>

                    <td>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>